/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.graph-container{
    background-color:#FFFFFF;
    width:68%;
    padding:2% 2.5%;
    border-radius:7px;  
}

.text-bold{
  font-size:1rem;
  font-weight:700
}

.text-general{
  font-size:0.8rem;
  font-weight:600;
  color:#BABABA
}

.text-general2{
  font-size:0.8rem;
  font-weight:600;
  color:#5A5A5A
}

.graph-box{
    background-color:#F2EFFF;
    border-radius: 8px;
}
